.container {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  font-size: 0.875rem;
  color: #545f7d;
}
.wrapper {
  display: flex;
  align-items: center;
  background-color: #213f7d1a;
  color: #213f7d;
  gap: 1rem;
  padding: 0.2rem 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
}
.formWrapper {
  position: absolute;
  z-index: 1;
  bottom: 2rem;
  left: 4rem;
}
