$cyan: #39cdcc;
.container {
  height: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #213f7d;
}
.searchWrapper {
  display: none;
  width: 100%;
  max-width: 25rem;
  height: 2.5rem;
}
.input {
  flex: 1;
}
.btn {
  flex: 1;
  max-width: 3.5rem;
  border: none;
  background-color: $cyan;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
}
.right {
  display: flex;
  gap: 3.125rem;
  align-items: center;
}
.link {
  display: none;
  color: #213f7d;
}
.burger {
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .link {
    display: block;
  }
}

@media (min-width: 992px) {
  .container {
    padding: 0 3.75rem;
  }
  .searchWrapper {
    display: flex;
  }
  .burger {
    display: none;
  }
}
