.container {
  background-color: white;
  padding: 1.875rem;
  border-radius: 0.25rem;
  border: 1px solid #f2f2f6;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
}
.hr {
  border: none;
  height: 1px;
  background-color: #dedfe5;
  margin: 1.875rem 0;
}
